@import "tailwindcss";
@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-display: "Doto", sans-serif;

  --color-base: var(--app-color-base);
  --color-surface: var(--app-color-surface);
  --color-elevated: var(--app-color-elevated);

  --color-lilac-500: var(--app-color-lilac-500);
  --color-lilac-600: var(--app-color-lilac-600);
  --color-lilac-700: var(--app-color-lilac-700);

  --color-text-primary: var(--app-color-text-primary);
  --color-text-secondary: var(--app-color-text-secondary);
  --color-text-muted: var(--app-color-text-muted);

  --shadow-neumorphic: var(--app-shadow-neumorphic);
  --shadow-neumorphic-hover: var(--app-shadow-neumorphic-hover);
  --shadow-neumorphic-inset: var(--app-shadow-neumorphic-inset);

  --radius-soft: 1rem;

  --animate-float: float 2.5s ease-in-out infinite;
}

/* LIGHT MODE */
:root {
    --app-color-base: #EFEAF8;        
  
    --app-color-surface: #F5F2FB;     
    --app-color-elevated: #FFFFFF;
  
    --app-color-lilac-500: #E4DCF6;
    --app-color-lilac-600: #D6CDF2;
    --app-color-lilac-700: #C7BCEB;
  
    --app-color-text-primary: #2C2835;
    --app-color-text-secondary: #5B5668;
    --app-color-text-muted: #8C8799;
  
    --app-shadow-neumorphic:
      0.375rem 0.375rem 0.75rem rgba(175, 165, 215, 0.25),
      -0.375rem -0.375rem 0.75rem #FFFFFF;

    --app-shadow-neumorphic-hover: 0 0 0.75rem rgba(199, 188, 235, 0.6);
  
    --app-shadow-neumorphic-inset:
      inset 0.25rem 0.25rem 0.5rem rgba(175, 165, 215, 0.25),
      inset -0.25rem -0.25rem 0.5rem #FFFFFF;
  }

/* DARK MODE */
.dark {
  --app-color-base: #1E1B2E;
  --app-color-surface: #26233A;
  --app-color-elevated: #2E2A45;

  --app-color-lilac-500: #3A345F;
  --app-color-lilac-600: #4A4375;
  --app-color-lilac-700: #5A538A;

  --app-color-text-primary: #F4F2FF;
  --app-color-text-secondary: #CFCBE6;
  --app-color-text-muted: #A8A3C2;

  --app-shadow-neumorphic:
    0.375rem 0.375rem 0.75rem rgba(0,0,0,0.4),
    -0.375rem -0.375rem 0.75rem rgba(255,255,255,0.05);

  --app-shadow-neumorphic-hover: 0 0 0.75rem rgba(199, 188, 235, 0.6);

  --app-shadow-neumorphic-inset:
    inset 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.4),
    inset -0.25rem -0.25rem 0.5rem rgba(255,255,255,0.05);
}

@layer utilities {
  .font-display {
    font-weight: 900;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.4rem);
  }
}

html, body {
  scroll-behavior: smooth !important;
}

.group{
  scroll-behavior: smooth !important;
}