---
import DisplayScramble from "../ui/DisplayScramble.astro";
import Icon from "../ui/Icon.astro";
---

<section id="contact" class="w-full">
  <div
    class="bg-surface shadow-neumorphic flex h-auto w-full flex-col items-center justify-between gap-8 rounded-2xl px-6 py-10 md:gap-16 md:rounded-4xl md:px-32 md:py-20"
  >
    <div
      class="mx-auto flex max-w-full flex-col items-center justify-center gap-4"
    >
      <span class="text-text-secondary font-sans text-[1rem] md:text-[1.25rem]">
        ¡Hablemos!
      </span>
      <DisplayScramble
        as="h1"
        text="¿Te interesa mi trabajo?"
        class="text-center text-2xl font-bold tracking-wide md:text-4xl"
        delay={200}
        duration={800}
        scrambleStepMs={40}
        initialCharCount={30}
        scrambleChars="X"
      />
      <div
        class="text-text-secondary flex flex-col text-center font-sans text-[1rem] md:text-[1.125rem]"
      >
        <span> Coordinemos una llamada y comentame la propuesta. </span>
        <span>
          Estoy abierto a nuevas oportunidades y desafíos técnicos en proyectos
          con impacto real.
        </span>
      </div>
    </div>
    <a
      class="group shadow-neumorphic transition-[translate, transform, box-shadow,background] hover:shadow-neumorphic-hover animate-float flex cursor-pointer items-center gap-2 rounded-full bg-linear-to-r from-[var(--app-color-lilac-500)] to-[var(--app-color-lilac-700)] p-4 duration-300 ease-out will-change-transform [animation-delay:1s] hover:-translate-y-1 hover:animate-none hover:from-[var(--app-color-lilac-600)] hover:to-[var(--app-color-lilac-700)] active:translate-y-0"
      href="https://calendar.app.google/UN5BnTAkxnHJyN8b8"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-text-primary/75 font-sans"> Armemos una reunión! </span>
      <Icon
        icon="siGooglecalendar"
        class="text-text-primary/80 h-5 w-5 duration-400"
      />
    </a>
  </div>
</section>
