---
import ExperienceCard from "../experience/ExperienceCard.astro";
import DisplayScramble from "../ui/DisplayScramble.astro";
import experienceData from "../../data/experience.json";

const experiences = [
  ...experienceData.workExperience,
  experienceData.education,
  experienceData.assistantTeaching,
];
---

<section id="experience" class="flex flex-col gap-6 sm:gap-8 px-4 sm:px-0">
  <!-- TITLE -->
  <DisplayScramble
    as="h1"
    text="Experiencia y Formación"
    class="text-3xl tracking-wide"
    delay={300}
    duration={800}
    scrambleStepMs={40}
    initialCharCount={30}
    scrambleChars="X"
  />

  <!-- CARDS -->
  <div class="flex flex-col gap-8">
    {experiences.map((exp) => <ExperienceCard {...exp} />)}
  </div>
</section>

<script>
  import { applyFadeInEffect } from "../../utils/fadeInEffect";

  applyFadeInEffect(".experience-card");
</script>
