---
import ExperienceCard from "../experience/ExperienceCard.astro";
import DisplayScramble from "../ui/DisplayScramble.astro";
import experienceData from "../../data/experience.json";

const experiences = [
  ...experienceData.workExperience,
  experienceData.education,
  experienceData.assistantTeaching,
];
---

<!-- <section id="experience" class="flex flex-col gap-8"> -->
<section id="experience" class="flex flex-col gap-6 sm:gap-8 px-4 sm:px-0">
  <!-- TITLE -->
  <DisplayScramble
    as="h1"
    text="Experiencia y Formación"
    class="text-3xl tracking-wide"
    delay={300}
    duration={800}
    scrambleStepMs={40}
    initialCharCount={30}
    scrambleChars="X"
  />

  <!-- CARDS -->
  <div class="flex flex-col gap-8">
    {experiences.map((exp) => <ExperienceCard {...exp} />)}
  </div>
</section>

<script is:inline>
  if (typeof window !== "undefined") {
    const cards = document.querySelectorAll(".experience-card");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry, index) => {
          if (entry.isIntersecting) {
            entry.target.style.transitionDelay = `${index * 0.2}s`;

            entry.target.classList.remove("opacity-0", "translate-y-4");
          }
        });
      },
      { threshold: 0.3 },
    );

    cards.forEach((card) => observer.observe(card));
  }
</script>
