---
import DisplayScramble from "../ui/DisplayScramble.astro";
import SocialButton from "../ui/SocialButton.astro";
---

<section class="relative w-full" id="intro">
  <div class="flex flex-col gap-4 mx-auto">
    <h2 class="font-sans text-text-secondary text-lg -mb-4">
      Full Stack Developer
    </h2>
    <DisplayScramble
      as="h1"
      text="Alejandro Ismael Chañi"
      class="text-5xl tracking-wide"
      delay={200}
      duration={800}
      scrambleStepMs={40}
      initialCharCount={30}
      scrambleChars="X"
    />
    <p
      class="font-sans text-xl text-text-secondary text-justify md:text-left max-w-xl leading-relaxed mb-6"
    >
      Ingeniero en Sistemas de Información y Desarrollador Full Stack con 5 años
      de experiencia construyendo aplicaciones web escalables y orientadas a
      producto. Con experiencia principalmente en React y Node.js, trabajando en
      Frontend y Backend, participando en el diseño e implementación de features
      end-to-end, decisiones técnicas y mejora continua de la calidad del
      software. Mi foco es formar parte de proyectos con impacto real y
      evolucionar hacia roles de liderazgo técnico.
    </p>

    <div class="flex gap-6 flex-wrap md:flex-nowrap">
      <SocialButton
        href="https://github.com/achani2497"
        label="GitHub"
        icon="siGithub"
      />

      <SocialButton
        href="https://linkedin.com/in/alejandro-chañi"
        label="LinkedIn"
        icon="linkedin"
      />

      <SocialButton
        href="mailto:alejandro.chani24@gmail.com"
        label="Email"
        icon="siGmail"
      />
    </div>
  </div>
</section>
