---
import { technologies } from "../../data/technologies.json";
import DisplayScramble from "../ui/DisplayScramble.astro";
import Icon from "../ui/Icon.astro";
---

<section id="technologies" class="flex flex-col gap-6 sm:gap-8">
  <DisplayScramble
    as="h1"
    text="Tecnologías"
    class="text-2xl tracking-wide md:text-3xl"
    delay={200}
    duration={800}
    scrambleStepMs={40}
    initialCharCount={30}
    scrambleChars="X"
  />
  <div class="grid w-full grid-cols-2 gap-4 sm:grid-cols-4 lg:grid-cols-6">
    {
      technologies.map((technology) => (
        <div class="group shadow-neumorphic bg-surface grid grid-cols-1 place-items-center gap-4 rounded-xl p-4 transition-all duration-500 ease-in-out hover:-translate-y-1">
          <Icon icon={technology.icon} />
          <div class="flex flex-col items-center justify-center gap-1">
            <span class="text-text-primary font-sans text-[1rem] md:text-[1.125rem]">
              {technology.label}
            </span>
            <span class="text-text-secondary font-sans text-sm">
              {technology.level}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</section>
