<div class="absolute top-0 left-0 -z-10 h-dvh w-full">
  <svg viewBox="0 0 1440 400" class="h-full w-full" preserveAspectRatio="none">
    <defs>
      <linearGradient id="waveGradientTop" x1="0" y1="0" x2="0" y2="1">
        <stop
          offset="0%"
          stop-color="var(--app-color-lilac-700)"
          stop-opacity="var(--app-wave-gradient-third-level)"></stop>
        <stop
          offset="40%"
          stop-color="var(--app-color-lilac-600)"
          stop-opacity="var(--app-wave-gradient-second-level)"></stop>
        <stop
          offset="70%"
          stop-color="var(--app-color-lilac-500)"
          stop-opacity="var(--app-wave-gradient-first-level)"></stop>
        <stop offset="100%" stop-color="var(--app-color-base)" stop-opacity="0"
        ></stop>
      </linearGradient>
    </defs>

    <path
      fill="url(#waveGradientTop)"
      d="M0,120 C480,220 960,40 1440,140 L1440,0 L0,0 Z"></path>
  </svg>
</div>
