<div class="absolute top-0 left-0 w-full h-dvh -z-10">
  <svg viewBox="0 0 1440 400" class="w-full h-full" preserveAspectRatio="none">
    <defs>
      <linearGradient id="waveGradient" x1="0" y1="0" x2="0" y2="1">
        <stop offset="0%" stop-color="var(--app-color-lilac-600)"></stop>
        <stop offset="70%" stop-color="var(--app-color-lilac-500)"></stop>
        <stop offset="100%" stop-color="var(--app-color-base)"></stop>
      </linearGradient>
    </defs>

    <path
      fill="url(#waveGradient)"
      d="M0,120 C480,220 960,40 1440,140 L1440,0 L0,0 Z"></path>
  </svg>
</div>
