---
import { getIcon } from "../../utils/getIcon";

interface Props {
  label: string;
  icon: string;
}

const { label, icon } = Astro.props;

const iconData = getIcon(icon);
---

<div
  class="group flex items-center gap-2 px-3 py-1.5 rounded-full
  bg-surface text-text-secondary text-sm shadow-neumorphic-inset
  transition-all duration-200 ease-out hover:text-text-primary"
>
  {
    iconData && (
      <svg
        viewBox="0 0 24 24"
        class="w-4 h-4 shrink-0 transition-all duration-200
         text-text-primary group-hover:text-(--tech-color) group-hover:scale-110"
        style={`--tech-color: #${iconData.hex}`}
        fill="currentColor"
      >
        <path d={iconData.path} />
      </svg>
    )
  }

  <span>{label}</span>
</div>
