---
import Icon from "../ui/Icon.astro";

interface Props {
  label: string;
  icon: string;
}

const { label, icon } = Astro.props;
---

<div
  class="group bg-surface text-text-secondary shadow-neumorphic-inset hover:text-text-primary flex items-center gap-2 rounded-full px-3 py-1.5 text-sm transition-all duration-200 ease-out"
>
  <Icon icon={icon} />
  <span>{label}</span>
</div>
