---
import Wave from "../components/layouts/Wave.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Doto:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Portfolio</title>
  </head>

  <body class="bg-base text-text-primary font-sans relative">
    <!-- Contenido centrado -->
    <main class="max-w-5xl mx-auto px-12 py-32">
      <Wave />
      <slot />
    </main>
  </body>
</html>

<!-- <script>
    document.documentElement.classList.toggle("dark");
  </script> -->
